@use  '../abstracts/index' as *;

.hero {
    height: 90vh;
    max-height: 872px;
    padding: 0 $spacing-sm $spacing-sm;
    @include d-flex(flex-end, flex-start);
    position: relative;
    z-index: 3;
    margin-bottom: 15vh;

    @media screen and (min-width: $screen-lg) {
        align-items: center;
        padding: 0 0 0 18.38vw;
        margin-bottom: 0;
    }

    &__container {
        @include d-flex(flex-end, center);
        width: 100%;
        height: fit-content;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    &__img {
        height: 90vh;
        width: auto;
        display: block;

        @media screen and (min-width: 93.75rem){
            width: 100%;
            height: auto;
        }

        @media screen and (orientation: portrait) {
            transform: translateX(-15%);
        }
    }

    &__title-wrapper {
        max-width: 603px;
    }

    &__text {
        margin: 1.312em 0;

    }

    .button {
        margin-top: 1.5em;
    }

    .squares {
        right: 0;
        bottom: -70px;
        z-index: -1;
        @media screen and (min-width: $screen-md) {
            right: 0;
            bottom: -15px;
        }
    }

    .popup {
        display: none;
    }
}