@use '../abstracts/index' as *;

.references {
    padding: 0 $spacing-sm;
    margin-bottom: 150px;
    position: relative;
    
    @media screen and (min-width: $screen-xl) {
        padding: 0 18.43vw 231px 21.92vw;
        margin-bottom: 0;
    }

    &__testimonial {
        background-color: $highlight;
        text-align: center;
        padding: 48px $spacing-sm 59px;
        margin-bottom: 164px;
        @media screen and (min-width: $screen-xl) {
            padding: 48px 81px 59px;
        }
    }

    &__text {
        @include roboto-30;
    }

    .slider {
        position: relative;
        margin: 36px 0 49px;
        @include d-flex(flex-start, center);
        flex-direction: column;
        
        @media screen and (min-width: $screen-md) {
            margin-top: 0;
        }

        &__slide {
            @include d-flex(center, space-between);
            flex-wrap: wrap-reverse;
            gap: 4vw;
            width: fit-content;
        }

        &__text {
            @include lato;
            font-weight: 300;
            font-style: italic;
            margin: 1em 0 0;
            position: relative;

            @media screen and (min-width: $screen-md) {
                margin-top: 2.25em;
            }

            &::before,
            &::after {
                display: none;
                content: '"';
                font-family: $primary-font;
                font-size: clamp(2.3em, 15vw, 9.375em);
                color: $highlight;
                position: absolute;
                font-weight: 300;
                line-height: 1;
                height: 60px;

                @media screen and (min-width: $screen-xl) {
                    display: inline;
                }
            }

            &::before {
                left: -70px;
                top: -29px;
                transform: rotate(180deg);
            }

            &::after {
                bottom: -57px;
                right: -28px;
            }
        }

        &__name {
            @include roboto-20;
            margin-top: 2.14em;

            &--role {
                @include lato;
                font-size: 1rem;
                font-weight: 300;
                display: block;
                padding-left: 12px;
            }
        }

        &__img-container {
            overflow: hidden;
            max-width: 483px;
            transform: rotate(45deg);
            position: relative;
            @media screen and (min-width: $screen-md) {
                width: 35%;
                display: block;
                filter: drop-shadow(63px 1px 112px $primary-bg);
            }
            @media screen and (min-width: $screen-xl) {
                width: 22vw;
            }

            &::before {
                content: "";
                height: 0%;
                left: 14%;
                position: absolute;
                bottom: 14%;
                width: 72%;
                z-index: 2;
                background-color: $highlight;
                transition: height .4s ease-out;
            }

            &--switching {
                &::before {
                    height: 72%;
                }
            }
        }

        &__img {
            transform: rotate(-45deg);
        }

        &__article {
            max-width: 628.5px;
            @media screen and (min-width: $screen-md) {
                width: 60%;
            }
            @media screen and (min-width: $screen-xl) {
                width: 31vw;
            }
        }

        &__controls {
            margin-top: 30px;
            @include d-flex(center, space-between);
            width: fit-content;
            gap: 5px;

            @media screen and (min-width: $screen-xl) {
                margin: 0;
                flex-direction: column;
                width: fit-content;
                position: absolute;
                left: -170px;
                top: 90px;
            }
        }

        &__indicator {
            width: 13px;
            height: 13px;
            border: 1px solid $primary-light;
            display: block;
            margin: 5px;
            transform: rotate(45deg);
            transition: all .1s ease-out;

            &--active, &:hover {
                border-color: $highlight;
                background-color: $highlight;
            }

            &--active {
                width: 16px;
                height: 16px;
                box-shadow: 0px 0px 20px 0px rgba($highlight, .5);
            }
        }
    }

    .button {
        display: block;
        @media screen and (max-width: $screen-sm) {
            margin: 3em auto 0;
        }
        margin: 3em 0 0;
    }

    .squares {
        width: 20vw;
        height: auto;
        right: -28px;
        top: -60px;
        z-index: -1;
        filter: drop-shadow(-109px -23px 278px $highlight);

        @media screen and (min-width: $screen-md) {
            top: unset;
        }

        @media screen and (min-width: $screen-xl) {
            width: initial;
            right: -18.43vw;
        }
    }

    .trophy-img {
        position: absolute;
        z-index: -1;
        left: 0;
        top: -20%;
        max-width: 847px;
        @media screen and (min-width: $screen-md) {
            top: -45%;
        }
    }
}