@mixin d-flex($a, $j){
    display: flex;
    align-items: $a;
    justify-content: $j;
}

@mixin underline($color) {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0;
        background-color: $color;
        transition: width .2s ease-out;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}