<section class="about" id="about">
    <svg class="squares" width="424.156" height="847.487" viewBox="0 0 424.156 847.487">
        <g transform="translate(-4063 -238.513)">
          <path d="M.368-423.487,424.156.231,0,424Z" transform="translate(4063 662)" fill="#00a6ca"/>
          <rect class="square--sm" width="104" height="104" transform="translate(4290 792.461) rotate(45)" fill="#fff"/>
        </g>
      </svg>      
    <img id="about-img" class="about__img" alt="About">
    <article class="about__article">
        <h2 class="about__title bar">About me</h2>
        <p class="about__text">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable. If you are
            going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
            middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
            necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
            words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
            The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
            words etc..
        </p>
        <button class="button button--secondary">Get to know me</button>
    </article>
</section>