<section class="blog" id="blog">
    <h2 class="blog__title">Latest from the blog<blogspan class="highlight">.</blogspan></h2>
    <div class="blog__post-wrapper">
        <div class="post">
            <p class="post__date">03.10.2019.</p>
            <p class="post__title">Align your mind and body with the demanding.</p>
        </div>
        <div class="post">
            <p class="post__date">03.10.2019.</p>
            <p class="post__title">Align your mind and body with the demanding.</p>
        </div>
        <div class="post">
            <p class="post__date">03.10.2019.</p>
            <p class="post__title">Align your mind and body with the demanding.</p>
        </div>
        <div class="post" class="post">
            <p class="post__date">03.10.2019.</p>
            <p class="post__title">Align your mind and body with the demanding.</p>
        </div>
    </div>
</section>