<header class="header" id="header">
    <a href="#" class="header__branding-wrapper">
        <img class="header__branding logo" alt="Nada Macura logo">
    </a>
    <nav class="nav" id="nav">
        <div class="displaced-container"><a href="#hero" class="displaced nav__link nav__link--active">Homepage</a></div>
        <div class="displaced-container"><a href="#about" class="displaced nav__link">About</a></div>
        <div class="displaced-container"><a href="#services" class="displaced nav__link">Services</a></div>
        <div class="displaced-container"><a href="#references" class="displaced nav__link">References</a></div>
        <div class="displaced-container"><a href="#blog" class="displaced nav__link">Blog</a></div>
        <div class="displaced-container"><a href="#contact" class="displaced nav__link">Contact</a></div>
        <div class="nav__lang-wrapper displaced-container">
            <button class="displaced nav__lang">Sr</button>
            <button class="displaced nav__lang nav__lang--active">En</button>
        </div>
    </nav>
    <button class="nav-btn" id="nav-btn">
        <span class="nav-btn__bar"></span>
        <span class="nav-btn__bar"></span>
        <span class="nav-btn__bar"></span>
    </button>
</header>