<section class="hero" id="hero">
    <div class="hero__container">
        <img id="hero-img" class="hero__img" alt="Hero image">
    </div>
    <div class="hero__title-wrapper">
        <h1 class="hero__title">
            <span class="hero__title-line">Lorem Ipsum has</span>
            <span class="hero__title-line bar">been the industry's.</span>
        </h1>
        <p class="hero__text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
        </p>
        <a href="#services" class="button button--primary">Tell me more</a>
    </div>
    <svg class="squares" width="127.987" height="255.916" viewBox="0 0 127.987 255.916">
        <g transform="translate(-429.013 -285.543)">
            <path d="M127.986,491.459v0h0L0,363.5,127.986,235.543V491.455h0Z" transform="translate(429.013 50)" fill="#232529" />
            <rect class="square--sm" width="49" height="49" transform="translate(486.552 437.259) rotate(45)" fill="#00a6ca" />
        </g>
    </svg>
    <div class="popup" id="popup">
        <p class="popup__text">You're looking at a temporary website version, You're looking at a temporary website
            version You're looking at a temporary.
        </p>
        <button class="popup__btn" id="close-popup">
            <span class="popup__btn-bar"></span>
            <span class="popup__btn-bar"></span>
        </button>
    </div>
</section>