<section class="references" id="references">
    <img id="trophy-img" class="trophy-img" alt="trophy">
    <div class="references__testimonial">
        <p class="references__text">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's" - Jack Welch</p>
    </div>
    <img alt="stars" class="star-img">
    <h2 class="references__title">References.</h2>
    <div class="slider" id="slider">
        <svg class="squares" height="847.487" viewBox="0 0 424.156 847.487">
            <path d="M423.788-423.487,0,.231,424.156,424Z" transform="translate(0 423.487)" fill="#fff"/>
            <rect class="square--sm" width="104" height="104" transform="translate(270.695 627.487) rotate(135)" fill="#00a6ca"/>
          </svg>
        <div class="slider__slide">
            <article class="slider__article">
                <div class="displaced-container"><p class="slider__text displaced" id="s-article"></p></div>
                <div class="displaced-container"><p class="slider__name displaced" id="s-name"></p></div>
            </article>
            <img class="slider__img" id="s-image">
        </div>
    </div>
    <button id="ref-btn" class="button button--secondary">All references</button>
</section>