<section class="services" id="services">
    <svg class="squares" width="221" height="441.477" viewBox="0 0 221 441.477">
        <g transform="translate(-1342 -368.913)">
          <path d="M0-1.087,221,220,0,440.39Z" transform="translate(1342 370)" fill="#fff"/>
          <rect class="square--sm" width="104" height="104" transform="translate(1464 625.461) rotate(45)" fill="#00a6ca"/>
        </g>
    </svg>
    <img alt="stars" class="star-img">
    <div class="player-img">
        <img id="player-img" class="player-img__player" alt="particles">
        <img id="ball-img" class="player-img__ball" alt="particles">
    </div>
    <h2 class="services__title">
        <span class="services__title-line">Lorem Ipsum is simply dummy text of</span>
        <span class="services__title-line">the printing and typesetting industry.</span>
    </h2>
    <div class="services__card-wrapper">
        <div class="card">
            <h3 class="card__title">Lorem ispum lorem ipsum ispum lorem ipsum ispum lorem ipsum</h3>
            <p class="card__text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, even slightly believable.</p>
        </div>
        <div class="card">
            <h3 class="card__title">ispum lorem ipsum</h3>
            <p class="card__text">There are many variations of passages of Lorem Ipsum available.</p>
        </div>
        <div class="card">
            <h3 class="card__title">Ispum lorem ipsum ispum lorem ipsum ispum lorem ipsum</h3>
        </div>
        <div class="card">
            <h3 class="card__title">Ispum lorem ipsum ispum lorem ipsum ispum lorem ipsum</h3>
        </div>
        <div class="card">
            <h3 class="card__title">Ispum lorem ipsum</h3>
            <p class="card__text">Lorem ipsum lorem ipsum lorem ipsum</p>
        </div>
        <div class="card">
            <h3 class="card__title">Ispum lorem ipsum ispum lorem ipsum ispum lorem ipsum</h3>
        </div>
        <div class="card">
            <h3 class="card__title">Ispum lorem ipsum ispum lorem ipsum ispum lorem ipsum</h3>
        </div>
        <div class="card">
            <h3 class="card__title">Ispum lorem ipsum ispum lorem ipsum ispum lorem ipsum</h3>
            <p class="card__text">There are many variations of passages of Lorem Ipsum available.</p>
        </div>
    </div>
    <button class="button button--secondary">All services</button>  
</section>